[lang=fa], [lang=ar] {
  .simplebar-track {
    right: initial;
    left: 0!important;
  }
  .simplebar-scroll-content {
    padding-right: 0 !important;
    padding-left: 23px!important;
  }
  .simplebar-content {
    margin-right: 0 !important;
  }
}