@model DataLayer.Tools.ServiceResult<object>
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
    <div class="container" style="font-size: 0.8rem">
        <p class="alert alert-danger text-center">@Model.ErrorDesc</p>
    </div>





