@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="fa_IR">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="fontiran.com:license" content="WR2QUH">
    <meta name="description" content="" />
    <meta name="author" content="2vtj" />
    <meta name="robots" content="NOINDEX,NOFOLLOW" />
    <meta name="googlebot" content="nofollow" />
    <meta name="googlebot" content="nosnippet" />
    <meta name="googlebot" content="noarchive" />
    <meta name="googlebot" content="noindex" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#f5363f" />
    <meta name="theme-color" content="#f5363f">
    <meta http-equiv="content-language" content="fa" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.html">
    <meta name="theme-color" content="#000">
    <link rel="icon" href="/images/application/logo.png">
    <link rel="stylesheet" href="lib/error/css/jquery.pagepiling.min.css">
    <link rel="stylesheet" href="lib/error/css/main.min.css">
    <link rel="stylesheet" href="lib/error/css/rtl.css">
    <title>صفحه یافت نشد</title>
    <meta name="description" content="اطلاعاتی یافت نشد">
    <style>
        .left {
            display: none !important;
        }

        .alx-bg-img {
            overflow: hidden !important;
        }
    </style>
</head>
<body>
    <div class="alx-scroll-wrap">
        <div id="alx-preloader">
            <div class="cssload-thecube">
                <div class="cssload-cube cssload-c1"></div>
                <div class="cssload-cube cssload-c2"></div>
                <div class="cssload-cube cssload-c4"></div>
                <div class="cssload-cube cssload-c3"></div>
            </div>
        </div>
        <div id="alx-pagepiling">
            <section class="alx-vertical-middle pp-scrollable alx-bg-img" data-image="/images/application/404.jpg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="alx-heading alx-text-center">
                                <h1 class="alx-heading__title">403</h1>
                                <div class="alx-heading__zigzag">
                                    <svg x="0px" y="0px" viewBox="0 0 100 19.5">
                                        <g>
                                            <polygon points="79.3,18 69.6,8.3 60,18 50.3,8.3 40.6,18 31,8.3 21.3,18 11.7,8.3 3.4,16.5 0.6,13.7 11.7,2.7 21.3,12.3 31,2.7 								40.6,12.3 50.3,2.7 60,12.3 69.6,2.7 79.3,12.3 88.9,2.7 100,13.6 97.2,16.4 89,8.3 "></polygon>
                                        </g>
                                    </svg>
                                </div>
                                <div class="alx-heading__description">دسترسی به این صفحه امکان پذیر نمی باشد</div>
                            </div>

                        </div>
                        <div class="col-lg-6 offset-lg-1"></div>
                    </div>
                </div>
                <canvas class="alx-canvas" id="pretty-bg"></canvas>
                <div class="alx-btns-section alx-text-center" style="z-index: 1;"><a class="alx-btn" href="/">صفحه اصلی</a></div>
                <a class="rtl_theme" href="#">
                    <p>
                      شرکت نرم افزاری پارس
                    </p>
                </a>
            </section>
        </div>
        <div class="alx-aside-sidebar__overlay"></div>
    </div>
    <script src="/lib/error/js/pace.min.js"></script>
    <script src="/lib/error/js/jquery.min.js"></script>
    <script src="/lib/error/js/jquery.pagepiling-rtl.js"></script>
    <script src="/lib/error/js/waypoints.min.js"></script>
    <script src="/lib/error/js/match-height.js"></script>
    <script src="/lib/error/js/jquery.magnific-popup.min.js"></script>
    <script src="/lib/error/js/imagesloaded.pkgd.min.js"></script>
    <script src="/lib/error/js/isotope.pkgd.min.js"></script>
    <script src="/lib/error/js/animate-css.js"></script>
    <script src="/lib/error/js/tilt.js"></script>
    <script src="/lib/error/js/slick.min.js"></script>
    <script src="/lib/error/js/particles.min.js"></script>
    <script src="/lib/error/js/readmore.min.js"></script>
    <script src="/lib/error/js/fluidWave.js"></script>
    <script src="/lib/error/js/common.js"></script>
</body>
</html>