
@{
    ViewBag.Title = "بازیابی رمز عبور";
    ViewBag.Description = "بازیابی رمز عبور";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p class="ir">لطفا تا بارگزاری صفحه شکیبا باشید ...</p>
    </div>
</div>

<div class="login-box">
    <div class="card logged-box">
        <div class="body">
            <div class="logo">
                <a href="/">
                    <img class="log-image" src="/images/application/logo.png" alt="logo of site" />
                </a>
                <small class="cursor-defult">بازیابی رمز عبور</small>
            </div>
            <div class="row m-0">
                <div class="form-group floating-form-group col-12 col-lg-12">
                    <input type="text" class="form-control form-control-sm floating-form-control float text-left" id="username"
                           max-length="100" required="" tabindex="1">
                    <span class="floating-form-bar"></span>
                    <label for="username" class="floating-label">
                        <i class="fas fa-user icon"></i><span>نام کاربری (شماره همراه یا ایمیل)</span>
                    </label>
                </div>
                <div class="form-group floating-form-group col-8 col-lg-8">
                    <input type="text" class="form-control form-control-sm floating-form-control float text-left" id="captcha"
                           length="4" tabindex="3" required="">
                    <span class="floating-form-bar"></span>
                    <label for="captcha" class="floating-label">
                        <i class="fas fa-code icon"></i><span>کد امنیتی</span>
                    </label>
                </div>
                <div class="form-group floating-form-group col-4 col-lg-4 p-0">
                    <div id="container-captcha">

                    </div>
                </div>
                <div class="form-group floating-form-group col-12 col-lg-12 pt-0 pb-0 pr-1 pl-1">
                    <button class="btn btn-sm success material f-w" id="btn-recover-tow"><i class="fas fa-sync btn-icon"></i><span class="btn-title">بازیابی</span></button>
                </div>
                <div class="form-group floating-form-group col-12 col-lg-12  pt-0 pb-0 pr-1 pl-1 o-h">
                    <a href="/" class="btn btn-sm purple  material f-w" type="submit"><i class="fas fa-reply-all btn-icon"></i><span class="btn-title">بازگشت به سایت</span></a>
                </div>
            </div>
        </div>
    </div>
</div>