
@{
    ViewBag.Title = "بازیابی رمز عبور";
    ViewBag.Description = "بازیابی رمز عبور";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}




@{
    ViewBag.Title = "بازیابی رمز عبور";
    ViewBag.Description = "بازیابی رمز عبور";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p class="ir">لطفا تا بارگزاری صفحه شکیبا باشید ...</p>
    </div>
</div>

<div class="login-box">
    <div class="logo">
        <a href="/">
            <img class="log-image" src="~/Content/images/site/logo.png" alt="logo of site" />
        </a>
        <small class="cursor-defult">بازیابی کلمه عبور</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="ChangePassword" method="POST">
                <input type="hidden" name="code" value="@(ViewBag.code)"/>
                <div class="msg">فرم بازیابی کلمه عبور</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="new-password" maxlength="50" minlength="8" placeholder="کلمه عبور جدید" required autocomplete="off">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="confirm-password" maxlength="50" minlength="8" placeholder="تکرار کلمه عبور جدید" required autocomplete="off">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">code</i>
                    </span>
                    <div class="form-line"  style="width: 140px">
                        <input type="text" class="form-control" name="captcha" minlength="6" maxlength="6" placeholder="کد امنیتی" required autocomplete="off">
                    </div>
                    <span class="input-group-addon" id="captchaContent">
                    </span>
                </div>
                <div class="input-group">
                    <button class="btn btn-block bg-green waves-effect full-width" type="submit">بازیابی</button>
                </div>
                <div class="input-group">
                    <a href="/" class="btn btn-block bg-pink waves-effect full-width">بازگشت به سایت</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section script
{
    <script>
        $("body").addClass("login-page ls-closed");
        Captcha("captchaContent");
        var hand = new Handler();
        hand.success = function(data, textStatus, jqXhr) {
            if (data.Done) {
                if (jqXhr && jqXhr.responseJSON && jqXhr.responseJSON.Done && jqXhr.responseJSON.Result.Ticket) {
                    localStorage.setItem("ticket", jqXhr.responseJSON.Result.Ticket);
                }
                hideLoading();
                swal({
                    title: "پیغام سیستم",
                    text: "کلمه عبور با موفقیت تغییر یافت . هم اکنون می توانید وارد سایت شوید",
                    timer: 4000,
                    showConfirmButton: false
                });
                setTimeout(() => {
                    window.location.href = Config.applicationUrl + "login";
                },5000);
            } else {
                $("#captchaContent").html("");
                Captcha("captchaContent");
                hand.configError(data);
            }
        };
        hand.complete = function(jqXhr) {

        };
        addSubmitToForm("ChangePassword", "Account/ChangePassword", "formData", hand);
    </script>
}

