
@{
    ViewBag.Title = "عضویت در سایت";
    ViewBag.Description = "عضویت در سایت";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p class="ir">لطفا تا بارگزاری صفحه شکیبا باشید ...</p>
    </div>
</div>

<div class="login-box">
    <div class="logo">
        <a href="/">
            <img class="log-image" src="~/Content/images/site/logo.png" alt="logo of site" />
        </a>
        <small class="cursor-defult">عضویت در سایت</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_in" method="POST">
                <div class="msg">فرم ورود اطلاعات</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" id="username" name="username" maxlength="100" minlength="8" placeholder="نام کاربری" required autocomplete="off">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="password" maxlength="50" minlength="8" placeholder="کلمه عبور" required autocomplete="off">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="confirmPassword" maxlength="50" minlength="8" placeholder="تکرار کلمه عبور" required autocomplete="off">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">code</i>
                    </span>
                    <div class="form-line"  style="width: 140px">
                        <input type="text" class="form-control" name="captcha" minlength="6" maxlength="6" placeholder="کد امنیتی" required autocomplete="off">
                    </div>
                    <span class="input-group-addon" id="captchaContent">

                    </span>
                </div>
                <div class="input-group">
                    <input type="checkbox" name="law" id="law" checked="checked" class="filled-in chk-col-green">
                    <label for="law">قوانین سایت را می پذیرم؟</label>
                </div>
                <div class="input-group">
                    <button class="btn btn-block bg-green waves-effect full-width" type="submit">عضویت</button>
                </div>
                <div class="input-group">
                    <a href="/" class="btn btn-block bg-pink waves-effect full-width">بازگشت به سایت</a>
                </div>
                <div class="input-group">
                    <a href="/login" class="full-width text-right fs-12">آیا شما قبلا ثبت نام کرده اید ؟</a>
                </div>
                
            </form>
        </div>
    </div>
</div>


@section script
{
    <script>
        $("body").addClass("login-page ls-closed");
        Captcha("captchaContent");
        var hand = new Handler();
        hand.success = function(data, textStatus, jqXhr) {
            if (data.Done) {
                if (jqXhr && jqXhr.responseJSON && jqXhr.responseJSON.Done && jqXhr.responseJSON.Result.Ticket) {
                    localStorage.setItem("ticket", jqXhr.responseJSON.Result.Ticket);
                }
                hideLoading();
                if (data.Result === "phone") {
                    swal({
                        title: "پیغام سیستم",
                        text:
                            "عضویت با موفقیت انجام شد . برای فعال سازی اکانت خود کد ارسالی به شماره همراه خود را وارد نمایید",
                        timer: 4000,
                        showConfirmButton: false
                    });
                    setTimeout(() => {
                            var myHandler = new Handler();
                        myHandler.success = function (data, textStatus, jqXhr) {
                            var phone = $("#username").val();
                                $("body").html(data);
                                setTimeout(() => {
                                    $("#phoneNumber").val(phone);
                                },10);
                            };
                            myHandler.complete = function(jqXhr) { hideLoading(); };
                            Api.getController({
                                url: "active-phone",
                                filter: {},
                                handler: myHandler,
                                ticket: false,
                                isAsync: true,
                                setHeader: false
                            });

                        },
                        4000);
                }
                else {
                    swal({
                        title: "پیغام سیستم",
                        text:
                            "عضویت با موفقیت انجام شد .لطفا برای فعال سازی اکانت خود روی لینک ارسالی به ایمیل خود کلیک نمایید",
                        timer: 4000,
                        showConfirmButton: false
                    });
                    setTimeout(() => {
                            window.location.href = Config.applicationUrl + "login";
                        },
                        5000);
                }

            } else {
                $("#captchaContent").html("");
                Captcha("captchaContent");
                hand.configError(data);
            }
        };
        hand.complete = function(jqXhr) {
            hideLoading();
        };
        addSubmitToForm("sign_in", "Account/Register", "formData", hand);
    </script>
}
