
@{
    ViewBag.Title = "به روز رسانی سایت";
    ViewBag.Description = "به روز رسانی سایت";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p class="ir">لطفا تا بارگزاری صفحه شکیبا باشید ...</p>
    </div>
</div>



<div class="container-build">
    <img src="/images/application/build.jpg" alt="build" />
    <p class="msg">سایت در حال به روز رسانی می باشد لطفا بعدا مراجعه فرمایید</p>
</div>


