@import "../../sass/abstract/mixins";
@import "../../sass/abstract/persian-fonts";
@import "../../sass/babakhani-persian-date-picker/persian-datepicker";
@import "../../sass/simple-bar/region";
@import "../../sass/simple-bar/simplebar";
@import "../../sass/font-aswome/font-awsome";
@import "../../sass/button/material-buttons.scss";
@import "../../lib/ripple/_ripple.scss";
//start color
$navBarColor: #272d47;


//--------------color
$bodyColor: #d8ddee;
$hoverText: #0d47f6 ;
$navBarColor: white;
$rightNavColor: #1d53f7;
$rightNavSecondColor: #0d47f6;
$white: white;
$backgroundLoading: #f5f5f5;
$backGroundColorIconMenu: #ffffff59;
$backGroundColorIconMenu_hover: #1742c6;
$textColor: #69707e;
$textSecondColor: #bfc5d2;
$textThreeColor: #91a2b8;
$navColor: #6c8ffa;
//end color
body, html {
    margin: 0;
    padding: 0;
    font-family: "Iran";
    direction: rtl;
    background-color: $bodyColor;
}
//loading
.loading {
    margin: auto;
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $backgroundLoading;
    @include flexBox(flex);
    @include flexDirection(column);
    @include justifyContent(center);

    section {
        width: auto;
        display: table;
        margin: auto;
    }
}
//scroolBar
.scroll-container {
    .simplebar-content {
        z-index: 1 !important;
        position: relative !important;
    }
}
//tooltip
.tooltip {
    font-family: "Iran";
    font-size: 0.7rem;
}
//nav bar style
.box-aside {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: auto;
    background-color: $navBarColor;

    &:after {
        content: "";
        position: absolute;
        left: 1px;
        top: 0;
        width: 100%;
        height: 100%;
        border-left: 1px dashed $white;
    }

    .menu {
        width: 50px;
        height: 100vh;
        float: right;
        position: relative;
        z-index: 1;
        background: $rightNavColor;
        border-left: 1px solid $rightNavSecondColor;

        .container-menu {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            @include flexBox(flex);
            @include flexDirection(column);
            @include justifyContent(flex-start);

            li {
                list-style-type: none;
                @include flexBox(flex);
                @include flexDirection(column);
                @include justifyContent(center);

                img {
                    width: 40px;
                    height: 40px;
                    display: table;
                    margin: 20px auto;
                    @include objectFit(cover);
                }

                .container-menu {
                    width: 30px;
                    height: 30px;
                    margin: 4px auto;
                    cursor: pointer;
                    position: relative;
                    background: $backGroundColorIconMenu;
                    @include flexBox(flex);
                    @include flexDirection(column);
                    @include justifyContent(center);
                    @include borderRadius(4px);
                    @include transition(all 0.25s);

                    &:hover {
                        background: $backGroundColorIconMenu_hover;
                        @include transition(all 0.25s)
                    }

                    svg {
                        display: table;
                        margin: auto;
                        font-size: 1rem;
                        color: white;
                    }

                    .badge {
                        position: absolute;
                        font-size: 0.6rem;
                        font-weight: bold;
                        top: -5px;
                        left: -5px;
                    }
                }
            }

            .active {
                .container-menu {
                    background: $backGroundColorIconMenu_hover !important;
                }
            }
        }
    }

    .meta-data-menu {
        width: calc(100% - 50px);
        float: left;
        overflow: hidden;
        height: 100vh;
        position: relative;
        z-index: 1;
        border-left: 1px dashed #1d53f7;
        left: 1px;

        header {
            border-bottom: 1px solid #f5f5f5;
            padding-bottom: 10px;

            .sign-out {
                color: $textThreeColor;
                position: absolute;
                top: 5px;
                left: 10px;
                cursor: pointer;
                font-size: 1rem;
            }

            .avatar {
                display: table;
                margin: 10px auto;
                position: relative;

                img {
                    width: 60px;
                    height: 60px;
                    padding: 2px;
                    border: 2px solid #d9dfed;
                    @include borderRadius(100px);
                    @include objectFit(cover);
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    background: #3ecd27;
                    right: 0px;
                    bottom: 3px;
                    border: 2px solid white;
                    @include borderRadius(30px);
                }
            }

            .user-name {
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 0.8rem;
                color: $textColor;
            }

            .role {
                font-size: 0.6rem;
                text-align: center;
                color: $textSecondColor;
                display: table;
                margin: auto;
                width: 100%;
            }
        }

        .main-nav {
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: auto;
            position: relative;
            z-index: 1;
            height: calc(100% - 125px);

            .base-menu {
                margin: 0;
                padding: 10px;
                text-align: right;
                font-size: 0.7rem;
                position: relative;
                z-index: 1;
                color: $textThreeColor;

                .base-child {
                    list-style-type: none;
                    position: relative;
                    margin: 10px 0;

                    &:before {
                        content: "";
                        width: 6px;
                        height: 6px;
                        display: block;
                        position: absolute;
                        left: 0;
                        background: transparent;
                        border-left: 2px solid $textSecondColor;
                        border-bottom: 2px solid $textSecondColor;
                        top: 7px;
                        @include transform(rotate(135deg));
                        @include transition(0.25s);
                    }

                    .title-text {
                        margin: 0;
                        cursor: pointer;
                    }

                    .child-menu {
                        margin: 0;
                        padding: 15px 5px;
                        text-align: right;
                        font-size: 0.7rem;
                        color: $textColor;

                        li {
                            list-style-type: none;
                            position: relative;
                            cursor: pointer;
                            margin: 10px 0;

                            svg {
                                float: right;
                                font-size: 0.9rem;
                                margin: 0 0 0 10px;
                            }
                            span{
                                &:hover{
                                    color :$hoverText;
                                    transition:all 0.25s;
                                }
                            }
                            .color-1 {
                                color: #4bc27d;
                            }

                            .color-2 {
                                color: #ff7f7f;
                            }

                            .color-3 {
                                color: #b6a1dc;
                            }

                            .color-4 {
                                color: #60a1ff;
                            }

                            .color-5 {
                                color: #efb557;
                            }

                            .color-6 {
                                color: #fd439d;
                            }

                            .color-7 {
                                color: #0269fa;
                            }

                            .color-8 {
                                color: #f2acad;
                            }

                            .color-9 {
                                color: #88ea8a;
                            }

                            .color-10 {
                                color: #b461f7;
                            }
                        }
                    }
                }

                .rotate {
                    &:before {
                        @include transform(rotate(-45deg));
                        @include transition(0.25s);
                    }
                }
            }
        }
    }
}
.main-box {
    padding: 0;
    margin: 0;

    .tab-container {
        width: 100%;
        height: 80px;
        background: white;

        .notification {
            width: 100%;
            display: table;
            margin: auto;
            padding: 0;
            height: 40px;
            background: #fefefe;
            border-bottom: 1px solid #f5f5f5;

            .notifi-ul {
                width: 100%;
                padding: 0;
                margin: 0;
                padding: 10px 20px;
                height: 100%;
                @include flexBox(flex);
                @include flexDirection(row-reverse);
                @include justifyContent(flex-start);

                li {
                    list-style-type: none;
                    position: relative;
                    margin: 0 10px;

                    .dropdown {
                        position: relative;

                        svg {
                            cursor: pointer;
                            font-size: 1.3rem;
                            color: #8f9eb5;
                        }

                        .badge {
                            position: absolute;
                            top: -5px;
                            right: -10px;
                            font-size: 0.6rem;
                        }
                    }

                    svg {
                        cursor: pointer;
                        font-size: 1.3rem;
                        color: #8f9eb5;
                    }

                    .badge {
                        position: absolute;
                        top: -5px;
                        right: -10px;
                        font-size: 0.6rem;
                    }
                }
            }
        }

        .tab {
            height: 33px;
            overflow: hidden;
            background: $navColor;

            .next {
                float: left;
                width: 20px;
                height: 100%;
                position: relative;
                border-right: 1px solid #1742c6;
                cursor: pointer;
                background: $rightNavColor;
                @include boxShadow(0 2px 5px #6c6c6c);
                @include opacity(0.7);
                @include transition(all 0.25s);

                &:hover {
                    @include opacity(1);
                    @include transition(all 0.25s);
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border-top: 3px solid white;
                    border-left: 3px solid white;
                    background: transparent;
                    left: 7px;
                    top: 14px;
                    @include transform(rotate(-45deg));
                }
            }

            .tab-content {
                width: calc(100% - 40px);
                float: left;
                height: 100%;
                overflow: hidden;

                ul {
                    width: 100%;
                    padding: 0 2px;
                    margin: 0;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;



                    li {
                        width: auto;
                        height: 100%;
                        margin: 0 1px;
                        list-style-type: none;
                        position: relative;
                        color: white;
                        font-size: 0.7rem;
                        border: 0;
                        cursor: pointer;
                        border-bottom: 2px solid #e2d8f9;
                        min-width: 100px;
                        transition: 350ms;

                        &:hover {
                            background: #1d53f7;
                            transition: all 0.5s;
                            border-bottom: 2px solid #ff7f7f;

                            .text {
                                transition: all 0.5s;
                                transition: 0.25s;
                                margin: 8px 0.5rem 0 3.5rem;
                            }

                            .icon {
                                transition: all 0.5s;
                                opacity: 1;
                            }
                        }

                        .text {
                            display: table;
                            margin: 8px 2rem;
                            text-align: center;
                            font-size: 0.7rem;
                            font-weight: bold;
                            transition: all 0.5s;
                        }

                        .icon {
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;

                            svg {
                                font-size: 12px;
                            }

                            &:hover {
                                color: #ff7f7f;
                            }
                        }

                        .remove {
                            top: 8px;
                            left: 5px;
                        }

                        .refresh {
                            top: 8px;
                            left: 20px;
                            svg{
                                font-size:11px
                            }
                        }
                    }

                    .active {
                        border-bottom: 2px solid #ff7f7f;
                    }
                }
            }

            .before {
                float: right;
                width: 20px;
                height: 100%;
                position: relative;
                border-left: 1px solid #1742c6;
                cursor: pointer;
                background: $rightNavColor;
                @include boxShadow(0 2px 5px #6c6c6c);
                @include opacity(0.7);
                @include transition(all 0.25s);

                &:hover {
                    @include opacity(1);
                    @include transition(all 0.25s);
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border-top: 3px solid white;
                    border-left: 3px solid white;
                    background: transparent;
                    left: 7px;
                    top: 14px;
                    @include transform(rotate(135deg));
                }
            }
        }
    }

    .main-section {
        width: 100%;
        height: calc(100% - 82px);
        background: white;
        padding: 5px;

        .custom-frame {
            border: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.modal-col-red {
    background-color: #dc3545 !important;

    .modal-header {
        padding: 0;

        .modal-title {
            font-size: 0.8rem;
            margin: 5px;
            color: white;
        }
    }

    .modal-body {
        text-align: right;
        color: white;
    }

    .modal-footer {
        padding: 0;

        button {
            height: 25px;
            font-size: 0.7rem;
            padding: 0 10px;
            color: #dc3545;
        }
    }
}

.modal-col-teal {
    background-color: #249d71 !important;

    .modal-header {
        padding: 0;

        .modal-title {
            font-size: 0.8rem;
            margin: 5px;
            color: white;
        }
    }

    .modal-body {
        text-align: right;
        color: white;
        font-size: 0.8rem;
    }

    .modal-footer {
        padding: 0;

        button {
            height: 25px;
            font-size: 0.7rem;
            padding: 0 10px;
            color: #15da93;
        }
    }
}
//mobile
@media only screen and (max-width:768px){
    .box-aside {
        height: auto;

        .menu {
            height: 60px;
            position: fixed;
            z-index: 10;

            .container-menu {
                width: 100%;
                overflow: hidden;
                transition: all 350ms;

                li {
                    img {
                        margin: 10px auto;
                        cursor:pointer;
                    }
                }
            }
        }

        .auto {
            height: 100vh;
            transition: all 350ms;
        }

        .meta-data-menu {
            width: 100%;
            height: auto;
            border: 0;

            .main-nav {
            }
        }
    }
    .main-box {
        .tab-container {
            .notification {
                .notifi-ul {
                    justify-content: center;
                }
            }
        }

        .main-section {
            height: 100%;
        }
    }
    
}
