:root {
  --theme-first-color: #242331;
  --theme-first-color-light: #373743;
  --theme-first-color-dark: #21202d;

  --theme-second-color: #533e2d;
  --theme-second-color-light: #624f40;
  --theme-second-color-dark: #4c3929;

  --theme-third-color: #a27035;
  --theme-third-color-light: #aa7d47;
  --theme-third-color-dark: #946631;

  --theme-forth-color: #b88b4a;
  --theme-forth-color-light: #be955a;
  --theme-forth-color-dark: #a87f44;

  --theme-fifth-color: #ddca7d;
  --theme-fifth-color-light: #e0ce88;
  --theme-fifth-color-dark: #c9b872;

  --theme-dark-color: #070709;
  --theme-light-color: #ebebec;
  --theme-text-color: #73737b;
  --theme-text-second-color: #afafb4;

  --facebook-color: #3b5998;
  --facebook-color-light: #4162a7;
  --facebook-color-dark: #395592;

  --twitter-color: #55acee;
  --twitter-color-light: #57b0f4;
  --twitter-color-dark: #54aaeb;

  --google-plus-color: #DD4B39;
  --google-plus-color-light: #e54e3b;
  --google-plus-color-dark: #d94a38;

  --linkdin-color: #0082CA;
  --linkdin-color-light: #0087d1;
  --linkdin-color-dark: #007dc3;

  --instagram-color:  radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  --instagram-color-light: radial-gradient(circle at 30% 107%, #fff699 0%, #fff699 5%, #ff5a4a 45%, #dc25a3 60%,#285AEB 90%);
  --instagram-color-dark: radial-gradient(circle at 30% 107%, #f8ef94 0%, #f9f095 5%, #f85748 45%, #d2239c 60%,#285AEB 90%);

  --grey-color-l-5: #fafafa;
  --grey-color-l-4: #f3f3f3;
  --grey-color-l-3: #eeeeee;
  --grey-color-l-2: #e0e0e0;
  --grey-color-l-1: #bdbdbd;
  --grey-color: #9e9e9e;
  --grey-color-d-1: #757575;
  --grey-color-d-2: #616161;
  --grey-color-d-3: #424242;
  --grey-color-d-4: #212121;
}