$btnShadow : 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
$btnOutlineShadow : 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
$btnShadowHover : 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);

$cardHoverShadow : 0 10px 15px 0 rgba(0, 0, 0, 0.05);
$textShadowHover : 0 5px 11px rgba(0, 0, 0, .18), 0 4px 15px rgba(0, 0, 0, .15);

$viewShadow : 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
$sectionViewShadow : 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
$cascadeCardBlockShadow : 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

$tableShadow : 0 2px 5px 0 rgba(100, 100, 100, 0.1), 0 2px 20px 0 rgba(100, 100, 100, 0.12);
$grid-card-shadow: 0 2px 15px -10px rgba(100,100,100,.5);
$dialog-shadow: 0 0 20px 3px rgba(80, 80, 80, 0.6);