.container-f {
  height: 100vh;
  background: white;
  overflow: auto; }
  .container-f .container {
    margin: 20px auto;
    background: transparent;
    height: auto; }

.title-color {
  width: 100%;
  border-bottom: 1px dotted #7e45ff;
  background: transparent;
  font-size: 0.8rem;
  text-align: right;
  padding: 7px 15px 5px;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
  margin: 0;
  color: #373737; }

.card-v {
  width: 100%;
  min-height: 60px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative; }
  .card-v:hover {
    transition: all 0.25s;
    background: #4dabf7;
    box-shadow: 0 5px 10px #e1e1e1; }
  .card-v:hover svg {
    transition: all 0.25s;
    color: white; }
  .card-v:hover p {
    transition: all 0.25s;
    color: white;
    background: transparent; }
  .card-v svg {
    width: 45px !important;
    height: 45px !important;
    padding: 5px;
    color: #495057;
    cursor: pointer;
    display: table;
    margin: auto; }
  .card-v input {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
    opacity: 1;
    width: 100%;
    display: block;
    background: transparent;
    border: 0;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer; }
  .card-v p {
    margin: 0 0 5px 0;
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem; }
