@import "../abstract/mixins";

/*
** persian-datepicker - v0.5.4
** Reza Babakhani <babakhani.reza@gmail.com>
** http://babakhani.github.io/PersianWebToolkit/docs/datepicker
** Under WTFPL license
*/

$height: 275px;
$height-with-datepicker: 350px;
$width: 200px;

$main-btn-hover-bg: #eee;

.datepicker-container {
  position: absolute;
  z-index: 100000;
  top: 0;
  @include transition(opacity 150ms);
  @media screen and (max-width: 567px) {
    left: calc(50vw - 100px) !important;
    top: calc(50vh - 137.5px) !important;
  }
  &.hide {
    opacity: 0;
    z-index: -1;
  }

  &.has-timepicker {
    .datepicker-plot-area {
      height: $height-with-datepicker !important;
    }
  }

  .month-item {
    text-align: center;
  }
  .year-item {
    text-align: center;
  }
}

.datepicker-plot-area {
  left: 0 !important;
  top: 0 !important;
  height: $height;
  display: block;
  width: $width;
  min-width: 200px;
  padding: 0;
  position: absolute;
  font: 12px tahoma;
  border: 1px solid #ccc;
  background-color: #fff;
  @include overFlow(hidden);
  @include boxSizing(border-box);
  @include boxShadow(0 5px 10px rgba(0, 0, 0, 0.2));
  @include userSelect(none);

  * {
    text-align: center;
    color: #333
  }

  table, th, td {
    border: 0;
    background: none
  }

  .datepicker-header {
    display: block;
    width: 100%;
    height: 30px;
    float: left;
    padding: 3px 0 0;
    margin-bottom: 8px;
    .btn-next {
      width: 15%;
    }
    .btn-switch {
      width: 66%;
      margin: 0 2%;
    }
    .btn-prev {
      width: 15%;
    }
    .btn-next, .btn-switch, .btn-prev {
      display: block;
      float: left;
      height: 28px;
      line-height: 28px;
      font-weight: bold;
      background-color: #fff;
      color: #333;
      padding: 0;
      cursor: pointer;
      &:hover {
        background-color: $main-btn-hover-bg
      }
    }
  }

  .datepicker-time-view {
    display: block;
    float: left;
    width: 100%;
    padding: 5px 1%;
    margin: 3px 0;
    background: #f9f9f9;
    border-top: 1px solid #f1f1f1;
    input {
      display: block;
      width: 90%;
      margin: 0 5%;
      height: 20px;
      padding: 0;
      outline: none;
      border: none;
      background: #f9f9f9
    }
    .divider {
      display: block;
      width: 3%;
      height: 60px;
      line-height: 60px;
      float: left;
      overflow: hidden;
      font: 12px bold;
      span {
        height: 60px;
        line-height: 60px
      }
    }
    > .time-segment {
      display: block;
      width: 22%;
      height: 60px;
      float: left;
      overflow: hidden;
      @include borderRadius(6px);

      &:hover {
        .down-btn, .up-btn {
          font-weight: bold;
          background-color: #fff
        }
      }
    }
    .down-btn, .up-btn {
      display: block;
      float: left;
      width: 100%;
      margin: 0;
      height: 20px;
      line-height: 18px;
      color: #ccc;
      @include transition(all 100ms ease);
      @include borderRadius(6px 6px 0 0);
      &:hover {
        background-color: #eee;
        color: #807f7f
      }
    }
    .down-btn {
      @include borderRadius(0 0 6px 6px);
    }
  }

  .datepicker-day-view {
    .table-days {
      width: 100%;
      float: left;
      direction: rtl;
      tr {
        width: 300px
      }
      td {
        height: 26px;
        padding: 0;
        margin: 0;
        span {
          display: block;
          width: 100%;
          height: 26px;
          line-height: 26px;
          padding: 0;
          margin: 0;
          &.today {
            background-color: #333;
            color: #fff;
            border: 0;
            text-shadow: none
          }
          &.other-month {
            background-color: transparent;
            color: #ccc;
            border: none;
            text-shadow: none
          }
        }
      }
    }
    .month-grid-box {
      display: block;
      width: 100%;
      float: right;
      min-width: 150px;
      height: 180px;
      margin: 10px 0
    }
    .header {
      .header-row {
        display: block;
        width: 100%;
        height: 25px;
        float: left
      }
      .header-row-cell {
        display: block;
        width: 14%;
        height: 25px;
        float: right;
        line-height: 25px;
        text-indent: 6px;
        font: 14px tahoma;
        font-weight: bold;
        color: #333
      }
    }
  }

  .datepicker-day-view .table-days td.disabled span,
  .datepicker-year-view .year-item-disable,
  .datepicker-month-view .month-item-disable {
    @include borderRadius(0);
  }

  .datepicker-day-view .table-days td span,
  .datepicker-year-view .year-item,
  .datepicker-month-view .month-item {
    @include borderRadius(3px);
  }

  .datepicker-day-view .table-days td span,
  .datepicker-year-view .year-item,
  .datepicker-month-view .month-item,
  .datepicker-day-view .table-days td.disabled span,
  .datepicker-year-view .year-item-disable,
  .datepicker-month-view .month-item-disable,
  .datepicker-time-view > .time-segment,
  .datepicker-time-view .down-btn,
  .datepicker-time-view .up-btn,
  .datepicker-time-view input {
    cursor: pointer
  }

  .datepicker-day-view .table-days td span,
  .datepicker-year-view .year-item,
  .datepicker-month-view .month-item {
    font-size: 13px;
    background-color: #fff;
    color: #333;
    border: 0;
    text-shadow: none
  }

  .datepicker-day-view .table-days td.disabled span,
  .datepicker-year-view .year-item-disable,
  .datepicker-month-view .month-item-disable {
    background-color: #f1f1f1;
    color: #ccc;
    border: none;
    text-shadow: none;
    cursor: default
  }

  .datepicker-day-view .table-days td span.selected,
  .datepicker-year-view .year-item.selected,
  .datepicker-month-view .month-item.selected {
    background-color: #006dcc;
    color: #fff;
    border: none;
    text-shadow: 1px 1px 1px #000
  }

  .datepicker-day-view .table-days td span.selected:hover,
  .datepicker-day-view .table-days td span:hover,
  .datepicker-year-view .year-item:hover,
  .datepicker-month-view .month-item:hover {
    background-color: #006dcc;
    color: #fff;
    border: 0;
    text-shadow: none
  }

  .datepicker-day-view,
  .datepicker-month-view,
  .datepicker-year-view {
    display: block;
    width: 100%;
    float: left;
    min-height: 200px;
    margin: 0;
    padding: 0 5px;
  }

  .datepicker-year-view .year-item,
  .datepicker-month-view .month-item {
    display: block;
    width: 33.333333%;
    margin: 2px 0 0;
    float: right;
    height: 36px;
    line-height: 34px
  }

  .datepicker-time-view {
    @include flexBox(flex);
    @include alignItem(center);
    @include justifyContent(center);
    > * {
      &:empty {
        display: none;
      }
    }
  }

  .toolbox {
    display: block;
    float: left;
    padding: 3px 0;
    width: 100%;

    .btn-today {
      background-color: #fff;
      font-weight: bold;
      margin: 0 auto;
      width: 60px;
      height: 25px;
      cursor: pointer;
      @include flexBox(flex);
      @include alignItem(center);
      @include justifyContent(center);

      &:hover {
        background-color: $main-btn-hover-bg
      }
    }
  }
}

.datepicker-plot-area-inline-view {
  display: block;
  width: 100%;
  position: static;
  float: left
}

// region
[lang=fa], [lang=ar] {
    .datepicker-container {
        .btn-switch {
            text-align: center !important;
            direction: ltr;
        }

        .btn-next, .btn-prev {
            text-align: center !important;
            @include transform(rotate(180deg));
        }

        .datepicker-day-view .table-days td > span {
            text-align: center !important;
        }

        .header-row-cell {
            font-family: Iran !important;
        }

        .datepicker-time-view {
            @include flexDirection(row-reverse);

            .time-segment {
                > * {
                    text-align: center !important;
                    text-align: center !important;
                }
            }
        }
    }
}