.selected-file span {
    color: #15da93;
    cursor: default;
    float: right;
    font-family: iran;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0 5px;
}

.content-wrapper { height: calc(100vh - 30px); }

.content-wrapper .col-sm-2 .inner {
    -moz-box-shadow: 0 5px 10px #dfdfdf78;
    -webkit-box-shadow: 0 5px 10px #dfdfdf78;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
    box-shadow: 0 5px 10px #dfdfdf78;
    height: 100%;
    min-height: 300px;
}

.content-wrapper .col-sm-2 .inner ul {
    height: calc(100% - 30px);
    margin: 0;
    overflow: auto;
    padding: 0;
}

.content-wrapper .col-sm-2 .inner ul li {
    list-style-type: none;
    padding: 3px;
}

.content-wrapper .col-sm-2 .inner header {
    background: #6c8ffa;
    height: 30px;
    overflow: hidden;
}

.content-wrapper .col-sm-2 .inner header .btn-filter {
    color: #6c8ffa;
    font-size: 0.7rem;
    height: 20px;
    margin: 5px;
    padding: 0;
    width: 50px;
}

.content-wrapper .col-sm-2 .inner header .wrapper {
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: center;
    padding: 5px;
    width: auto;
}

.content-wrapper .col-sm-2 .inner header .wrapper .svg-holder {
    color: white;
    padding-top: 2px;
}

.content-wrapper .col-sm-2 .inner header .wrapper .title { color: white; }

.file-wrapper {
    -moz-box-shadow: 0 5px 10px #dfdfdf78;
    -webkit-align-content: baseline;
    -webkit-box-shadow: 0 5px 10px #dfdfdf78;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    align-content: baseline;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
    box-shadow: 0 5px 10px #dfdfdf78;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100vh - 34px);
    justify-content: flex-start;
    margin: 2px 0;
    overflow: auto;
    width: 100%;
}

.file-wrapper .wrapper-file {
    -moz-border-radius: 3px;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-border-radius: 3px;
    -webkit-transition: all 0.5s;
    background: #fff;
    border: 1px dashed #d3d3d3;
    border-radius: 3px;
    color: #d3d3d3;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: normal;
    height: 100px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    transition: all 0.5s;
    width: 100px;
    word-wrap: inherit;
}

.file-wrapper .wrapper-file:hover {
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    color: #717173;
    transition: all 0.5s;
}

.file-wrapper .wrapper-file .svg-holder {
    -webkit-align-content: center;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    align-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
}

.file-wrapper .wrapper-file .svg-holder img {
    -o-object-fit: cover;
    display: table;
    height: 65px;
    margin: auto;
    object-fit: cover;
    width: 100%;
}

.file-wrapper .wrapper-file .svg-holder svg {
    display: table;
    height: 60px;
    margin: auto;
    width: 60px;
}

.file-wrapper .active {
    background: #d5f2fb94;
    border: 1px dashed #6c8ffa;
    color: #7b7b7b;
}

.create-folder {
    -webkit-align-content: center;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    align-content: center;
    background: #f5f5f5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.create-folder .form-group {
    display: table;
    margin: 5px auto;
    width: 300px;
}

.create-folder .form-group label {
    color: #7d7d7d;
    margin: 0 0 3px 0;
    text-align: right;
    width: 100%;
}

.create-folder .form-group input {
    color: #847d8f;
    font-size: 0.8rem;
    text-align: right;
}

.create-folder .form-group .success {
    float: right;
    margin: 10px;
    width: 100px;
}

.create-folder .form-group .danger {
    float: left;
    margin: 10px;
    width: 100px;
}

.bs-popover-auto[x-placement^="right"] > .arrow::after, .bs-popover-right > .arrow::after { border-right-color: #212529 !important; }

.bs-popover-auto[x-placement^="right"] > .arrow::before, .bs-popover-right > .arrow::before { border-right-color: #212529 !important; }

.bs-popover-auto[x-placement^="left"] > .arrow::after, .bs-popover-left > .arrow::after {
    border-left-color: #212529 !important;
    border-right-color: #212529 !important;
}

.bs-popover-auto[x-placement^="left"] > .arrow::before, .bs-popover-left > .arrow::before { border-left-color: #212529 !important; }

.popover-header {
    background-color: #212529;
    border-bottom: 1px solid #212529;
    color: white;
    font-family: iran;
    font-size: 0.8rem;
}

.popover-body { background: #212529; }

#details .modal-header {
    border-bottom: 1px solid #96a2b8;
    padding: 5px 10px 0 10px;
}

#details .modal-header .modal-title {
    color: #96a2b8;
    font-size: 0.7rem;
}

#details .modal-header .close {
    color: #ce0202;
    font-size: 1.2rem;
    margin: 0;
    opacity: 1;
    padding: 0;
}

#details .context-menu-item {
    border-bottom: 1px solid #f7ebeb;
    display: block;
    margin: 5px 0;
    min-height: 25px;
    padding: 0;
}

#details .context-menu-item svg {
    float: right;
    font-size: 0.8rem;
}

#details .context-menu-item textarea {
    background: #fcfcfc;
    border: 0;
    color: #048e7b;
    height: 200px;
    margin-top: 5px;
    text-align: left;
    width: 100%;
}

#details .context-menu-item .title {
    color: #747c87;
    cursor: pointer;
    float: right;
    font-size: 0.8rem;
    margin: 0 5px;
    text-decoration: none;
}

#details #context-menu-delete-item svg { color: #ce0202; }

#details #context-menu-download-item svg { color: #00b7ff; }

#details #context-menu-get-link-item svg { color: #0371d2; }

.mandatory { color: red; }